*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #e9ebee;
}


#h{
  color:#4267B2;
  margin: 20px;
  font-size: 40px;
  font-family: serif;
  
}

#nav{
  box-sizing: border-box;
  background-color: #24788f;
  height: 44px;
  color: white;
}

#point{
  padding: 4px;
  font-family: serif;
}

/*.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: olive;
  color: white;
  text-align: center;
  height: 50px;
}
*/
.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-instagram {
  background: orange;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

#post{
  background-color: white;
  height: 400px;
  border-radius:10px;
  width:300px;
  margin: auto;
  color: black;
  font-family: serif;
 text-align: center;
}

